<div *ngIf="isLoggedIn; else ShowLogin">
  <div>
    <button class="btn btn-primary btn-sm icon-btn" style="float: right;" (click)="addData()" [disabled]="isInEdit">
      <i class="material-icons">add</i>
    </button>
  </div>

  <app-data-table
    [rooms]="rooms"
    (isAnyDataInEdit)="isAnyDataInEdit($event)"
    (createEvent)="createData($event)"
    (updateEvent)="updateData($event)"
    (deleteEvent)="deleteData($event)"
  ></app-data-table>
</div>
<ng-template #ShowLogin>
  <button class="btn btn-primary" style="float: right;" (click)="login()">Login to microsoft</button>
</ng-template>
