<table class="table">
  <thead>
    <tr>
      <th scope="col">Meeting-Raum</th>
      <th scope="col">IP-Adresse</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{room?.roomDesignation}}</td>
      <td>{{room?.computer?.ipAddress}}</td>
      <td>{{room?.roomMailAddress}}</td>
      <td>
        <button class="btn btn-primary btn-sm table-btn" >
          <i class="material-icons md-18">delete</i>
        </button>
        <button class="btn btn-primary btn-sm table-btn" >
          <i class="material-icons md-18">edit</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
